{% extends "base.html" %}

	{% block content %}
	<a href="/blog/signup" style="color: white;">Signup</a>
	|
	<a href="/blog/login" style="color: white;">Login</a>
	|
	<a href="/blog/newpost" style="color: white;">Add new post</a>
	{% for entry in entries %}
		<article>
			<a href="/blog/{{entry.key().id()}}" style="color:black; text-decoration:none;">
				<h2 style="background-color: #0099cc;">{{entry.title}}</h2>
			</a>
			<time>{{entry.date}}</time>
			<p style="color:white; font-size: 16px; text-align: justify;">{{entry.content}}</p>
		</article>
	<hr>
	{% endfor %}
	{% endblock %}
