{% extends "base.html" %}

{% block content %}
<h2 style="color:white;">Signup</h2>
<form action="/blog/signup" method="post">
	<table>
		<tr>
			<td>Name</td>
			<td><input type="text" name="username" placeholder="Username" value={{ username }}></td>
			<td><span class="error" style="color:#ffb3b3">{{ username_error }}</span></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" name="password" placeholder="Password" value={{password}}></td>
			<td><span class="error" style="color:#ffb3b3">{{password_error}}</span></td>
		</tr>
		<tr>
			<td>Verify Password</td>
			<td><input type="password" name="verify" placeholder="Retype password" value={{verify}}></td>
			<td><span class="error" style="color:#ffb3b3">{{verify_error}}</span></td>
		</tr>
		<tr>
			<td>Email(optional)</td>
			<td><input type="email" name="email" placeholder="Email" value={{email}}></td>
			<td><span class="error" style="color:#ffb3b3">{{email_error}}</span></td>
		</tr>
	</table>
	<br />
	<input type="submit" value="Submit"/>
</form>
{% endblock %}